body {
    font-family: cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
h1 {
    color: rgb(81, 23, 23);
}
p {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}
img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}
